<div class= 'edituser'>
<div class= 'editform'>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field" >
    <h5 style='text-align: center'><%= f.label :email %>:</h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'editfield'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'editfield'%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'editfield' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'editfield' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-success', style: 'margin-top: 20px; margin-left: 12em; margin-bottom: 10px; width: 100px;' %>
  </div>
<% end %>



<h3 style= 'color: white; text-align: center; margin-bottom: 15px;' >Unhappy? </h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'%>

<%= link_to "Back", :back, class: 'btn btn-primary', style: 'margin-top: 15px; width: 100px;'
%>

<div>
<div>
