<div id="<%= dom_id post %>">
 

</div>
<table class="table table-striped">
  <thead>
    <tr>
    
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Location</th>
      <th scope="col">Date</th>
      <th scope="col">Info</th>


    </tr>
  </thead>
  <tbody>
    <tr class='tablerow'>
      <td id='first'><%= post.first_name%></td>
      <td id='last'><%= post.last_name %></td>
      <td id='phone'><%= post.phone %></td>
      <td id='location'><%= post.location %></td>
      <td id='date'><%= post.date %></td>
      <td id='info'><%= link_to 'Info', post %></td>


    </tr>
  </tbody>
</table>
